// Credit to https://codepen.io/Kosai106/pen/eZvJwY

$color1 : #161719;
$color2 : #36374d;
$text : #e6e9ef;
$highlight1 : #56b273;
$highlight2 : #b388dd;
$highlight3 : #ff8750;
$highlight4 : #01AD9B;
//$color2 : #26272b;
//$text : #9fa2a7;

// Styling for the search modal

.search-modal {
    position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--whitesmoke);
    padding-bottom: 3rem;
    overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(196, 79%, 65%);
		border-radius: 4px;
		opacity: 0.5;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.8;
		}
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 4px;
	}
}

.shimmer-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 50%;
    background: linear-gradient(to right, transparent, rgb(62, 170, 221));
    opacity: 0.3;
    animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}