.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    width: 100vw;
    height: 60px;
    top: 0;
    box-shadow: 0 2px 4px #0000001a;
    overflow-x: auto;
    
    /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }
    
    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
    
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

    .select-category {
    overflow-x: auto;
    
    /* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }
    
    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
    
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}



@media screen and (min-width: 768px) {
    .menu {
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100vh;
    padding: 10px;
    padding-top: 1.5rem;
    box-shadow: none;
}
}
