/* BackrollCardSlim styles */
.bcs {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.bcs--wrapper {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 15px;
    padding-bottom: 0.3rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.bcs-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    gap: 0.5rem;

    @media (min-width: 768px) {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        min-height: 150px;
        gap: 0;
    }
}

.bcs-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    align-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 1rem;

    @media (min-width: 768px) {
        width: 130px;
        height: 130px;
        grid-row: 1 / -1;
    }
}

.bcs-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
    word-break: break-word;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
    @media (min-width: 768px) {
        grid-row: 1 / 2;
    }
}

.bcs-quote {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.2;
    text-align: left;
    padding-top: 1rem;
}

.bcs-speaker {
    font-style: italic;
    margin-top: auto;
    margin-left: auto;
    margin-right: 20px;
}

.bcs-actions {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    @media (min-width: 768px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.bcs-quote-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    padding: 0 0.5rem;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* When quote is long, align to top */
    &--long {
        align-items: flex-start;
        padding-top: 0.5rem;
    }
}