@import "tailwindcss";

:root {
  --background: #ffffff;
  --dark-foreground: #222533;
  --pastel-pink: #E4A0B7;
  --dark-pink: hsl(327, 81%, 60%);
  --light-pink: hsl(327, 67%, 74%);
  --google-white: #F8F9FA;
  --default-css: #FAFAFA;
  --warm-ivory: #FFFFF0;
  --whitesmoke: #F5F5F5;
  --aliceBlue: #F0F8FF;
  --social-media: #F0F2F5;
  --soft-mint-green: hsl(160, 70%, 85%);
  --soft-peach: hsl(21, 100%, 90%);
  --soft-lavender: hsl(267, 60%, 85%);
  --warm-light-grey: hsl(30, 20%, 92%);
  --soft-butter-yellow: hsl(50, 90%, 85%);
  --pastel-blue: hsl(210, 100%, 90%);
}

body {
  background: var(--pastel-blue);
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
