.search-container {
	position: relative;
	max-width: 500px;
	z-index: 9999 !important;
	margin: 0 auto;

	@media (max-width: 768px) {
		max-width: 95%;
		margin: auto;
	}
}

.search {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 100%;
	height: 36px;
	background-color: rgba(42, 43, 51, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 0.1rem 0.6rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease;
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow: hidden;

	&:focus-within {
		border-color: var(--dark-pink);
		//box-shadow: 0 4px 15px var(--dark-pink);
	}

	&:hover {
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);

		& .search__icon {
			fill: var(--dark-pink);
		}
	}

	&__input-container {
		min-width: 30px;
		display: flex;
		align-items: center;
		flex-grow: 1;
		gap: 0.75rem;
	}

	&__input {
		min-width: 0;
		flex: 1;
		border: none;
		outline: none;
		font-size: 0.875rem;
		background: none;
		color: var(--antique-parchment);
		padding: 0.3rem 0;
		font-family: inherit;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 1000px #222533 inset !important;
			/* Change 'white' to your desired background color */
			-webkit-text-fill-color: #f0f0f0 !important;
			/* Change '#333' to your desired text color */
			box-shadow: 0 0 0 1000px #222533 inset !important;
			-webkit-text-fill-color: #f0f0f0 !important;
		}

		&:-moz-autofill,
		&:-moz-autofill-preview {
			filter: none !important;
		}

		&::placeholder {
			color: #8a8a8a;
			opacity: 1;
			transition: opacity 0.2s ease;
		}

		&:focus::placeholder {
			opacity: 0.5;
		}
	}

	&__icon {
		fill: #8a8a8a;
		transition: fill 0.2s ease;
	}

	&__closeIcon {
		fill: var(--dark-pink);
	}

	&:focus-within &__icon {
		fill: var(--dark-pink);
	}

	&__border {
		width: 1px;
		height: 24px;
		background-color: #3a3b43;
	}

	&__micButton {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 26px;
		border: none;
		border-radius: 50%;
		background: none;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	&__micButton {
		&.listening {
			animation: pulse 1.5s infinite;
			background-color: rgba(255, 0, 0, 0.1);
		}
	}

	&__micIcon {
		width: 20px;
		height: 20px;
		fill: #8a8a8a;
		transition: fill 0.2s ease;

		.listening & {
			color: #ea4335;
		}
	}

	&__micButton:hover &__micIcon {
		fill: var(--dark-pink);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@media (min-width: 640px) {
	.search__input {
		font-size: 1rem;
	}
}